.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.containerbg{
  background-color: #000000;
}

.maincontainer{
  background: url('/heroimage.svg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Use viewport height for full screen */
 
}

.navcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.rightmenu{
  display: flex;
  align-items: center;
  gap: 20px;
}

.linktag{
  text-decoration: none;
color: #ffffff;
font-weight: 500;
font-size: 1.1rem;
padding-left: 1.4rem;
}
.linktag .sup {
  font-size: 0.7em; 
  vertical-align: super; 
  padding: 0.1rem 0.4rem 0.3rem 0.4rem;
  margin: auto;
  text-align: center;
  color: #AB23FF;
  background-color: #000000;
  border-radius: 15px;

}

.navbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 32px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: inherit;
  border: 2px solid #ffffff;
  cursor: pointer;
  padding: 1.5rem 0.5rem;
}

.navbtntwo{
  display: none;
}

.mobilemenu{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #000000;
}

.barscontainer{
  display: none;
}

.fabars{
  font-size: 1.4rem;
}

.close{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background-color: #3D8BFF;
  border-radius: 6px;
  cursor: pointer;
}

.closeicon{
  color: #ffffff;
  font-size: 1.2rem;
}

.mobileheader{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.mobilelinks{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding-left: 3rem;
}

.mobilelink{
  padding: 1rem;
  border-top: 1px solid #13171D;
  font-size: 1.1rem;
  font-weight: 600;
}

.supp{
  font-size: 0.5em; 
  vertical-align: super; 
  color: #AB23FF;
}

.btnmedia{
  display: none;
}


.sectionone{
display: flex;
padding-top: 10rem;
width: 800px;
padding-left: 6rem;
}

.mainheader{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  padding-right: 6rem;
}

.creonheader{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  width: 400px;
  color: #ffffff; 
}

.subheader{
  position: relative;
  display: inline-block;
  font-size: 1rem;
  background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  color: transparent;
  background-clip: text; /* Standard syntax */
  padding: 10px 0;
  margin: 1.5rem 0;
}

.subheader:before,
.subheader:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
}

.subheader:before {
  top: 0;
}

.subheader:after {
  bottom: 0;
}

.paragraph{
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
  -webkit-background-clip: text; /* WebKit/Blink browsers */
  color: transparent;
  background-clip: text; /* Standard syntax */
  padding: 20px 0;
  margin: 1rem 0;

  border-top: 1px solid #13171D;
}

.sectiontwogrid{
  padding-left: 6rem;
  margin-top: 5rem;
  background-color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.boxtext{
  color: #ffffff;
  padding: 0.3rem 0.4rem;
  font-size: 1.125rem;
  border: 1px solid #13171D;
  border-radius: 5px;
  margin: 0.3rem 0;
 display: inline-block;
}

.containerpadding{
  padding-left: 6rem;
  margin-top: 5rem;
  background-color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ctnpadding{
  padding-left: 6rem;
  margin-top: 5rem;
}

.ctnpad{
  padding-left: 6rem;
}

.sectiontwo{
  display: flex;
  padding-left: 6rem;
  margin-top: 5rem;
  background-color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
  }


  .sectiontwoctn{
    display: inline-block;
    flex-direction: column;
  }

  .buybtn{
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 1rem 0.5rem;
  }



  .subheadertwo {
    display: flex;
    justify-content: center;
  }

  .rightsidecontainer{
    display: flex;
    align-items: center;
  }

  .rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 80%;
    border-left: 1px solid #13171D;
    border-right: 1px solid #13171D;
    margin-left: 2rem;
    padding: 1rem;
  }

  .ctnthree{
    display: flex;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .ctnthreetext{
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  /* SECTION FOUR */

  .fourheader{
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    width: 430px;
  }

  .visionimg{
    display: flex;
    justify-content: flex-end;
  }

  .fourctn{
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    color: transparent;
    background-clip: text; /* Standard syntax */
  }

  .faq{
    color: #ffffff;
    margin-bottom: 1.5rem;
  }

  .faqheading{
    /* margin-left: 3.5rem; */
    font-size: 1.2rem;
    font-weight: 700;
  }

  .headingcontainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .icon{
    cursor: pointer;
  }

  .faqtexts{
    font-size: 0.85rem;
  }

  .faqcontainer{
    width: 350px;
    margin-left: 1.5rem;
  }

  .faqheader{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
  }

  .innovationtext{
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    color: transparent;
    background-clip: text; /* Standard syntax */
    font-size: 2rem;
  }

  .boxcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .pergrid {
    display: flex;
    align-items: center;
    background-color: #13171D;
    border-radius: 6px; 
    padding: 20px 0; 
    width: 350px;
    height: 470px;
    position: relative;
  }

  .pergridContainer {
    position: relative;
  }
  
  .superscript {
    position: absolute;
    top: -35px; 
    right: -20px; 
    font-size: 0.65rem; 
    color: #000000; 
    background-color: #ffffff;
    font-weight: 700;
    border-radius: 10PX;
    padding: 0.2rem;
  }
  .superscriptt {
    position: absolute;
    top: -45px; 
    right: 30px; 
    font-size: 0.65rem; 
    color: #000000; 
    background-color: #ffffff;
    font-weight: 700;
    border-radius: 10PX;
    padding: 0.2rem;
  }
  
  .pergridheader, .pergridtext, .pergridctn {
    color: #ffffff;
  }

  .ctntop{
    padding-left: 20px;
  }

  .pergridtext{
    font-size: 0.85rem;
    padding-left: 20px;
    width: 300px;
  }

  .pergridctn{
    background: linear-gradient(90deg, #3D8BFF 0%, #AB23FF 100%);
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    color: transparent;
    background-clip: text; /* Standard syntax */
  }


  .footerbackground{
    padding-left: 6rem;
    padding-right: 6rem;
    object-fit: cover;
    width: 100vw;
    height: 100%;
  }

  .lstsection{
    display: flex;
    margin-bottom: 1rem;
  }

  .lstctntext{
    color: #ffffff;
    font-size: 0.95rem;
  }

  .lstctnbg{
    display: inline-block;
    background-color: #13171D;
    padding: 1rem;
    width: 100%;
  }

  .sectionsix{
    display: flex;
    background-image: url("/footerbg.svg");
    margin-top: 5rem;
    background-color: #000000;
    padding-top: 2rem;
    padding-bottom: 2rem;
    }

    .lastheader{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
        color: #ffffff;
      
    }
  
   

    .lstctnbg,
.imagecontainer {
  flex: 1;
  display: flex;
  flex-direction: column; 
}

    .image {
      flex: 1;
      object-fit: cover; /* Adjust based on your requirements */
    }

    .footer{
      padding-left: 6rem;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
    }

    .footertext{
      font-size: 0.75rem;
    }

    .small{
      font-size: 0.75rem;
    }
  

    /* MEDIA QUERIES FOR MOBILE AND TABLETS */

    @media  screen and (max-width: 1024px) {
      .barscontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 0rem 0.4rem;
        border-radius: 6px;
        cursor: pointer;
        margin: 0;
      }

      .rightmenu{
        display: none;
      }
      .navbtntwo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 25px;
        border-radius: 5px;
        border: none;
        color: #ffffff;
        background-color: inherit;
        border: 2px solid #ffffff;
        cursor: pointer;
        padding: 1.5rem 0.5rem;
        margin-right: 1rem;
      }
      .btnmedia{
        display: flex;
      }

      .sectionone{
        display: flex;
        padding-top: 7rem;
        width: 100%;
        padding-left: 2rem;
        }

        .maincontainer{
          height: auto; /* Use viewport height for full screen */
         
        }
        .boxcontainer {
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }

        .sectiontwogrid{
          display: flex !important;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          padding-left: 0rem;
          margin-top: 5rem;
          margin: auto;
          width: 100%;
   
        }
        .rightsidecontainer{
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .respimage{
          display: flex;
          justify-content: center;
          width: 95%;
          object-fit: cover;
        }

        .rightside{

          width: 100%;
          margin-top: 3rem;
  
        }

        .containerpadding{
          padding-left: 1rem;
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        .lstctnbg{
          height: auto;
          width: 100%;
        }

        .image {
          object-fit: cover; /* Adjust based on your requirements */
          width: 100%;
          height: 400px;
        }
        .creonheader{
          width: 100%;
        }

        .ctnpadding{
          padding-left: 1rem;
          padding-bottom: 1rem;
          margin-top: 2rem;
          display: flex;
          justify-content: center;
        }
        
        .ctnpad{
          padding-left: 0rem;
        }

        .mainheader{
          display: flex;
          justify-content: center;
          width: 100%;
          padding-left: 0rem;
        }
        .rightside{
          margin-left: 0rem;
        }
        .sectiontwo{
          padding-left: 1rem;
          margin-top: 2rem;
          }

          .fourheader{
            font-size: 1rem;
            width: 100%;
          }
          .faqcontainer{
            width: 100%;
            margin-left: 0rem;
          }
          .sectiontwoo{
            display: flex;
            justify-content: center;
          }

          .footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 0rem;
            
          }

          .lstsection {
            order: 1;
            flex-direction: column; 
          }
          
        
          .lstctnbg,
          .imagecontainer {
           order: -1;
            width: 100%; 
            
          }
          .footerbackground{
            padding-left: 1rem;
            padding-right: 1rem;
          }
          .sectionsix{
            display: flex;
            margin-top: 3rem;
            }
    }

    @media  screen and (max-width: 768px) {
      .boxcontainer {
        grid-template-columns: 1fr;
        gap: 20px;
      }
      .creonheader{
        width: 100%;
        font-size: 2rem;
        text-align: center;
      }

      .buybtn{
        width: 100%;
      }

      .mainheader{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 0rem;
        font-size: 2.3rem;
      }
      .fourheader{
        font-size: 1.5rem;
        width: 100%;
      }

      .visionimg{
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }

      .innovationtext{
        text-align: end;
        padding-right: 1rem;
      }

      /* .paragraph{
      
        display: flex;
        margin: auto;
        justify-content: center;
      } */
    }